#mySidenav button {
  margin-top: 140px;
  position: fixed;
  left: -165px;
  transition: 0.3s;
  padding: 15px;
  width: 230px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: left !important; 
}

#mySidenav button:hover {
  left: 0;
  color: white;
  background-color: green;
}

#MiscCharts {
  top: 150px;
  background-color: #c54b3c;
}

#AirCharts {
  top: 250px;
  background-color: #c54b3c;
}

#WindCharts {
  top: 350px;
  background-color: #c54b3c;
}

#SoilCharts {
  top: 450px;
  background-color: #c54b3c;
}

#BatteryCharts {
  top: 550px;
  background-color: #c54b3c;
}
