body {
  height: 100vh;
  background-color: black;
  background-image: url('./images/metalbackground2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Play', sans-serif;
}
